
/* ========================================================================
	VARIABLES
========================================================================== */


/* Colors */

$color-white:			#FFFFFF;

$color-borf-black:		#020100;
$color-borf-blue: 		#52c4e9;
$color-borf-purple: 	#a29fcf;
$color-borf-gold:		#f97f24;

$color-galaxy-purple:	#0a0267;
$color-galaxy-violet:	#a8267f;

/* Spacings */

$spacing-default: 30px;

/* Fonts */

$font-primary: 'Helvetica';

/* Sizes */

$size-font-logo-mobile: 		12px;
$size-font-logo-phablets: 		14px;
$size-font-logo-tablets: 		16px;
$size-font-logo-desktop: 		40px;
$size-font-logo-desktopLarge: 	40px;

$size-font-footer-mobile: 		12px;
$size-font-footer-phablets: 	14px;
$size-font-footer-tablets: 		16px;
$size-font-footer-desktop: 		40px;
$size-font-footer-desktopLarge: 40px;
