

header {

	.logo {
		font-size: $size-font-logo-desktop;
		font-weight: bold;
	}

	.author {
		font-size: $size-font-logo-desktop;
	}
}

.text {
	font-size: $size-font-logo-desktop;
}


footer {

	.copyright,
	.social {
		font-size: $size-font-footer-desktop;
	}
}