

header {

	.logo {
		font-size: $size-font-logo-tablets;
		font-weight: bold;
	}

	.author {
		font-size: $size-font-logo-tablets;
	}
}


.text {
	font-size: $size-font-logo-desktop;
}



footer {

	.copyright,
	.social {
		font-size: $size-font-footer-tablets;
	}
}