<!DOCTYPE html>
<!-- <html ng-app="boilerplateApp" -->
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en-it" />
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="keywords" lang="en" content="" />
        <meta name="description" lang="en" content="" /> 
        <meta name="copyright" content="Copyright 2014 - forever by Mathew Carella" />        
        <meta name="author" content="Mathew Carella" /> 
       	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0" />
        <title>Timewarp</title>
        <link rel="stylesheet" href="css/sample.css">
    </head>

    <!-- <body ng-controller="appController"> --> 
    <body>
    	<header>
    		<div class="logo">timewarped!</div>
    		<div class="author">this is a new page</div>
    	</header>
    	<div class="main-container">
    		<p class="text">
    			<a href="index.html" class="text">Prev page</a>
    		</p>
    		
    	</div>
    	<footer>
    		<div class="copyright">spread the word!</div>
    		<div class="social">
    			<span class="facebook"></span>
    			<span class="twitter"></span>
    			<span class="github"></span>
    		</div>
    	</footer>

    </body>

 
    <script src="js/libs/jquery-v1.11.js"></script>
    <script src="js/libs/angularjs-v1.2.0.js"></script>
    <script src="js/views/sample.js"></script>
    <script src="js/controllers/sample.js"></script>

</html>